/***** BASE STYLES *****/
body {
  margin: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
  background-color: #1f202b;
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width:400px;
    float: left;
}

/***** header *****/
header {
  height:800px;
  background-image:url("../img/hero.png");
  background-size: cover;
}

header h6 {
  padding: 20px 0 45px 45px;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
}

/***** nav *****/
nav {
  float: right;
  padding: 45px 0 45px 45px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-transform:uppercase;
  text-decoration:none;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: #ffffff;
  padding-left: 20px;
}

/***** header1 *****/


  header h1 {
  color: #ffffff;
  font-size: 72px;
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
}

  header h1 span {
  color: #fa0075;
  font-family: 'Source Code Pro', monospace;
}
